h1 {
	text-align: center;
	margin-top: 20px;
	color: var(--primary-color);
	font-size: 2.5rem;
	font-weight: 700;
}

.users_container {
	margin: auto;
	margin-top: 30px;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 20px;

	.user_card {
		width: 100%;
		background-color: var(--form-background-color);
		border-radius: var(--large-border-radius);

		.item {
			padding: 15px;
		}

		.actions {
			display: flex;
			gap: 12px;
			margin-top: 20px;
			padding: 0 20px 20px 20px;

			button {
				flex: 1;
				padding: 8px 12px;
				border-radius: var(--border-radius);
				border: none;
				cursor: pointer;
				font-size: 0.9rem;

				&.edit_btn {
					background-color: var(--primary-color);
					color: var(--background-color);
				}

				&.delete_btn {
					background-color: var(--error-color);
					color: white;
				}
			}
		}
	}
}
