.recipe-details {
	display: flex;
	flex-direction: column;
	margin: auto;
	gap: 20px;
	width: 80%;

	.description {
		width: 80%;
		margin: 0 auto;
		padding: 24px;
		background-color: var(--card-background-color);
		border-radius: var(--large-border-radius);
		border-left: 4px solid var(--accent-color);
		color: var(--text-color);
		text-align: left;
		display: flex;
		flex-direction: column;
		gap: 12px;

		i {
			margin-right: 20px;
			color: var(--primary-color);
		}
	}

	.info {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 20px;
		gap: 20px;
		border-radius: var(--border-radius);

		.item {
			display: flex;
			align-items: center;
			gap: 10px;
			font-weight: 600;
			font-size: larger;
			color: var(--text-color);

			i {
				color: var(--primary-color);
			}
		}
	}

	.details-container {
		display: flex;
		flex-direction: row;
		gap: 20px;
		width: 100%;

		.ingredients {
			flex: 1;
			border-radius: var(--large-border-radius);
			padding: 20px;
			text-align: left;
			border-left: 4px solid var(--primary-color);

			.item {
				display: flex;
				padding: 12px 0;

				&:last-child {
					border-bottom: none;
				}
			}
		}

		.instructions {
			flex: 3;
			border-radius: var(--large-border-radius);
			padding: 20px;
			border-left: 4px solid var(--primary-color);

		}
	}

	@media (max-width: 1000px) {
		.details-container {
			flex-direction: column;
		}
	}
}
