.recipes-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	gap: 20px;
	width: 80%;

	.recipes-header {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;
	}

	button {
		width: fit-content;
		background-color: var(--primary-color);
		color: var(--background-color);
		border: none;
		padding: 10px 16px;
		border-radius: var(--large-border-radius);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;

		&:hover {
			opacity: 0.8;
		}
	}

	.recipe-cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 20px;
		margin-bottom: 20px;
	}
}

.recipe-card {
	background-color: var(--card-background-color);
	border-radius: var(--large-border-radius);
	border-left: 4px solid var(--primary-color);
	gap: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;

	h3 {
		margin: 0;
		color: var(--accent-color);
	}

	a {
		text-decoration: none;
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}

	.recipe-meta {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		border-top: 1px solid var(--border-color);

		.meta-item {
			display: flex;
			align-items: center;
			gap: 10px;
			color: var(--text-color);

			i {
				color: var(--primary-color);
			}
		}
	}

	.recipe-author {
		display: flex;
		align-items: center;
		gap: 8px;
		color: var(--text-secondary-color);

		i {
			color: var(--accent-color);
		}
	}

}

@media (max-width: 768px) {
	.recipes-container {
		width: 90%;

		.recipe-cards {
			grid-template-columns: 1fr;
		}
	}
}
