.modal_container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 6px #0000001a;
	backdrop-filter: blur(4px);
	z-index: 1000;
	display: none;
	padding-top: 50px;
	overflow-y: auto;
	justify-content: center;
}

.modal_container.active {
	display: flex;
}

.modal-close {
	position: absolute;
	top: 15px;
	right: 15px;
	background: none;
	border: none;
	font-size: 1.5rem;
	cursor: pointer;
	color: var(--text-color);
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius);
	transition: background-color 0.2s;
	margin-bottom: 20px;
}

.modal-close:hover {
	background-color: var(--border-color);
}

@media (max-width: 768px) {
	.modal_container {
		padding-top: 20px;
	}
}
